<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <base href="./">
    <link rel="stylesheet" href="./launch.css">
    <link rel="stylesheet" href="../patch/farlert.view.css">
    <script type="text/javascript">
      if (typeof module === 'object') {
        window.module = module; 
        module = undefined;
      }
    </script>
    <script src="../patch/jquery.view.js"></script>
    <script src="../patch/define.view.js"></script>
    <script src="../patch/farlert.view.js"></script>
    <script src="../patch/wp.view.js"></script>

    <script type="text/javascript" src="../patch/launch.js"></script>
    <script>if (window.module) module = window.module;</script>
  </head>
  <body>
    <div class="xx2master xx2delete" id="xx2-fadeout">
      <span class="xx2-welcome">Welcome to <b>Test Caplet</b></span>
      <img src="../hard/TestCapletLogo.png" class="xx2-logo" />
      <div class="xx2-lower">
        <span class="xx2-load">application is initializing...</span>
        <span class="xx2-version">Version 20-8.1.6a</span>
      </div>
    </div>

    <div class="xx2master xx2temp" id="xx2-fadein">
      <span class="xx2-welcome">Access Test Caplet Accounts</span>
      <div class="xx2-access">
        <button onclick="window.Login.teacher()" class="xx2-teacher">I am a Teacher</button><br>
        <button onclick="window.Login.student()" class="xx2-student">I am a Student</button>
      </div>
      <div class="xx2-notice">
        <b>NOTE:</b> To register for an account, visit the Test Caplet website.
      </div>
      <div class="xx2-lower">
        <span style="font-size: 15px!important;" class="xx2-load">Ryan Wans Development &copy; 2020</span>
        <span class="xx2-version">Version 20-8.1.6a</span>
      </div>
    </div>

    <div class="xx2master xx2teacher" id="xx2-temp-hide">
      <img onclick="window.Login.teacher()" src="../hard/backArrow.svg" class="xx2-back xx2-b-teacher">
      <span class="xx2-welcome xx2-w-teacher">Test Caplet <b>Teacher Login</b></span>
      <div class="xx2-login xx2-m-teacher">
        <h3 class="xx2-form-above">USERNAME</h3>
        <input class="xx2-form-input xx2-bm" id="t-l-u" />
        <h3 class="xx2-form-above">PASSWORD</h3>
        <input type="password" class="xx2-form-input xx2-password" id="t-l-p" />
        <button onclick="window.Login.attempt('teacher', '#t-l-u', '#t-l-p', true);" class="xx2-student">LOGIN</button>
      </div>
      <div class="xx2-error xx2-error-t" id="xx2-temp-hide">
        <b>ERROR:</b> The username and/or password entered is incorrect.
      </div>
      <div class="xx2-lower">
        <br>
        <span class="xx2-version">Version 20-8.1.6a</span>
      </div>
    </div>

    <div class="xx2master xx2student" id="xx2-temp-hide">
      <img onclick="window.Login.student()" src="../hard/backArrow.svg" class="xx2-back xx2-b-student">
      <span class="xx2-welcome xx2-w-student">Test Caplet <b>Test Access</b></span>
      <div class="xx2-login xx2-m-student">
        <h3 class="xx2-form-above">TEST CODE</h3>
        <input required oninput="this.value = this.value.toUpperCase()" maxlength="8" class="xx2-form-input" id="s-t" placeholder="XXXXXXXX" />
        <h3 class="xx2-form-above">FULL NAME</h3>
        <input required class="xx2-form-input" id="s-n" placeholder="" />
        <button onclick="window.Login.attempt('student', '#s-t');" class="xx2-student">Access This Test</button>
      </div>
      <div class="xx2-error xx2-error-s" id="xx2-temp-hide">
        <b>ERROR:</b><span style="display:inline!important;" id="studentError"> The test code you provided could not be found.</span>
      </div>
      <div class="xx2-lower">
        <br>
        <span class="xx2-version">Version 20-8.1.6a</span>
      </div>
    </div>
  </body>
</html>
