<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <base href="./">
    <link rel="stylesheet" href="./teacher.css">
    <link rel="stylesheet" href="../patch/farlert.view.css">
    <link rel="stylesheet" href="../patch/chart.view.css">
    <link rel="stylesheet" href="../patch/TestMaker.css">
    <script type="text/javascript">
      if (typeof module === 'object') {
        window.module = module; 
        module = undefined;
      }
    </script>
    <script type="text/javascript" src="../patch/jquery.view.js"></script>
    <script type="text/javascript" src="../patch/define.view.js"></script>
    <script type="text/javascript" src="../patch/moment.view.js"></script>
    <script type="text/javascript" src="../patch/farlert.view.js"></script>
    <script type="text/javascript" src="../patch/chart.view.js"></script>
    <script type="text/javascript" src="../patch/teacher.js"></script>
    <script type="text/javascript" src="../patch/LiveTesting.js"></script>
    <script type="text/javascript" src="../patch/socket.view.js"></script>
    <script type="text/javascript" src="../patch/TestMaker.js"></script>
    <script>if (window.module) module = window.module;</script>
  </head>
  <body>
      <div class="x-master">
          <div class="x-sidebar-main">
              <img onclick="window.sP('home');" src="../hard/home.svg" class="x-icon">
              <img onclick="window.sP('tests');" src="../hard/form.svg" class="x-icon">
              <img onclick="window.sP('users');" src="../hard/user-group.svg" class="x-icon">
              <img onclick="window.sP('reports');" src="../hard/bar-graph.svg" class="x-icon">
              <img onclick="window.sP('you');" src="../hard/profile-user.svg" class="x-icon-bottom">
          </div>
          <div class="MASTER">
            If you're seeing this, data is either still loading or an error has occured.
          </div>
      </div>
      <div class="TESTMAKER-Build-127s93182793h81273 tmn" style="display: none;">
        <tm-nav class="tmnav">
          <navhead>
            Test Navigation
          </navhead>
          <hr>
          <navobj broq onmouseout="TestMaker.notip()" onmouseover="TestMaker.showTip(8)">
            Test Settings
          </navobj>
          <navobj onclick="TestMaker.autosave()" broq onmouseout="TestMaker.notip()" onmouseover="TestMaker.showTip(11)">
            Quick Save
          </navobj>
          <navobj newq onmouseout="TestMaker.notip()" onmouseover="TestMaker.showTip(7)">
            Create New Question
          </navobj>
          <hr>
          <navobj onmouseout="TestMaker.notip()" onmouseover="TestMaker.showTip(6)">
            Question 1 <subtr onmouseout="TestMaker.notip()" onmouseover="TestMaker.showTip(9)">X</subtr>
          </navobj>
          
        </tm-nav>
        <maker>
          <maker-chooser style="display: block;">
            <maker-title>
              Choose Question Type
            </maker-title>
            <maker-sub>
              QUESTION 1
            </maker-sub>
            <maker-ctype>
              <maker-t onclick="TestMaker.qMake(0)">Multiple Choice, Single Answer</maker-t>
              <maker-t onclick="TestMaker.qMake(4)">Multiple Choice, Multiple Answers</maker-t>
              <maker-t onclick="TestMaker.qMake(5)">Response Slider</maker-t>
              <maker-t onclick="TestMaker.qMake(3)">True or False</maker-t>
              <maker-t onclick="TestMaker.qMake(2)">Drag & Drop</maker-t>
              <maker-t onclick="TestMaker.qMake(6)">Table Selection</maker-t>
            </maker-ctype>
          </maker-chooser>
          <maker-maker style="display: none;">
            <maker-title>
              Create Question Data
            </maker-title>
            <maker-sub id="qTypeSelect">
              
            </maker-sub>
            <maker-ctype>
              <maker-prompt>
                QUESTION PROMPT
              </maker-prompt>
              <textarea onmouseout="TestMaker.notip()" onmouseover="TestMaker.showTip(10)" maxlength="300" autofocus id="currentPrompt" class="maker-tarea" rows="3"></textarea>
              <maker-prompt>
                CREATE ANSWER BANK
              </maker-prompt>
              <maker-answer id="makra-0">
                <input class="makra-mch" id="mkq-0" maxlength="45" type="text" placeholder="type here..." ><makra-mcht>OPTS</makra-mcht>
              </maker-answer>
              <maker-cans onclick="TestMaker.MakerMCA(0)">Add Another Option</maker-cans>
            </maker-ctype>
          </maker-maker>
        </maker>
      </div>
  </body>
</html>