::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #cfcfcf; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
head, body, html {
    font: 16px/1.4 Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

x-master {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    background-color: #dad8d8;
    color: #000b49;
    text-align: left;
}
x-nav {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgb(235, 235, 235);
  border-bottom: rgb(139, 139, 139) 1px solid;
  font-size: 18px;
}
x-actual {
  display: block;
  width: 100%;
  height: 85%;
  max-height: 480px;
  display: relative;
}
.x-logo {
  height: 34px;
  margin-right: 6px;
  position: absolute;
  top: 5px;
}
.x-n-center {
  display: block;
  position: absolute;
  width: 400px;
  left: 250px;
  text-align: center;
  top: 11px;
  font-weight: 500;
  font-size: 17px;
}
.x-m-left {
  margin-left: 40px;
  font-weight: 700;
}
.x-o-block {
  display: none;
}
.x-n-right {
  display: block;
  position: absolute;
  right: 20px;
  top: 12px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
x-act-inner {
  display: block;
  padding: 10px 20px;
}
x-footer {
  display: block;
  padding: 12px;
  width: 100%;
  position: absolute;
  padding-bottom: 10px!important;
  bottom: 0;
  background-color: rgb(235, 235, 235);
  border-top: rgb(139, 139, 139) 1px solid;
}
x-t-big {
  font-size: 34px;
  font-weight: 600;
  display: block;
}
x-t-sub {
  font-size: 18px;
  color: rgb(92, 92, 92);
  display: block;
}
.x-pre-table {
  font-size: 18px;
  margin-top: 10px;
}
x-critical {
  width: 97%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 80px;
  display: block;
  border: rgb(219, 21, 21) 2px solid;
  margin-top: 10px;
  border-radius: 4px;
  background-color: rgb(228, 188, 188);
  color: rgb(145, 0, 0);
}
cxr {
  margin-top: 5px!important;
  width: 100%;
  height: 1px;
  margin-bottom: 5px;
  background-color: rgb(109, 0, 0);
  display: block;
}
x-informatic {
  width: 97%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px;
  display: block;
  border: rgb(22, 197, 16) 2px solid;
  margin-top: 20px;
  border-radius: 4px;
  background-color: rgb(191, 228, 188);
  color: rgb(4, 117, 1);
}
ixr {
  margin-top: 5px!important;
  width: 100%;
  height: 1px;
  margin-bottom: 5px;
  background-color: rgb(0, 109, 5);
  display: block;
}
.x-o-hide {
  visibility: hidden;
}
.x-but-green {
  background-color: rgb(0, 109, 0);
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 5px;
  transform: translateY(-2px);
}
.x-but-green:hover {
  background-color: rgb(75, 134, 75);
}
.disable {
  opacity: 0.4;
}
.hover:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.dateNow {
  padding: 1px 10px;
  background-color: rgb(214, 214, 214);
  border-radius: 5px;
}
.arr-back {
  transform: rotate(-90deg);
  width: 30px!important;
  float: left;
  margin-left: 5px;
}
.arr-back:hover {
  transform: rotate(-90deg) scale(1.2);
  cursor: pointer;
}
.arr-for {
  transform: rotate(90deg);
  width: 30px!important;
  float: right;
  margin-right: 28px;
}
.arr-for:hover {
  transform: rotate(90deg) scale(1.2);
  cursor: pointer;
}
x-state {
  position: absolute;
  height: 10px;
  padding: 12px;
  padding-top: 7px!important;
  padding-left: 13px!important;
  padding-bottom: 20px!important;
  border-top-left-radius: 6px;
  bottom: 0;
  right: 0;
  display: none;
  background-color: rgb(231, 231, 231);
}
.xs-load {
  border-left: rgb(224, 165, 0) 4px solid;
  border-top: rgb(224, 165, 0) 4px solid;
}
.xs-ready {
  border-left: rgb(85, 194, 12) 4px solid;
  border-top: rgb(85, 194, 12) 4px solid;
}
questionhead {
  display: block;
  font-size: 20px;
  font-weight: 500;
}